<div class="mat-table-container" class = "scrollable-table">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

        <ng-container matColumnDef="id" [sticky]="true">
            <th mat-header-cell *matHeaderCellDef> Sale ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="customerName" [sticky]="true">
            <th mat-header-cell *matHeaderCellDef> Customer Name </th>
            <td mat-cell *matCellDef="let element">
                <span *ngIf="editedId !== element.id;else editThis">{{element.customerName}}</span>
                <ng-template #editThis>
                    <mat-form-field appearance="outline" class="custom-height">
                        <mat-select [(ngModel)]="element.customerId" >
                            <mat-option *ngFor="let customer of customers" [value]="customer.id">
                                {{ customer.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </ng-template>
            </td>
        </ng-container>

        <ng-container matColumnDef="saleDate" [sticky]="true">
            <th mat-header-cell *matHeaderCellDef> Sale Date </th>
            <td mat-cell *matCellDef="let element">
                <span *ngIf="editedId !== element.id;else editThis">{{element.saleDate | date}}</span>
                <ng-template #editThis>
                    <mat-form-field appearance="outline" class="custom-height">
                        <input matInput [(ngModel)]="element.saleDate" [matDatepicker]="picker" [value]="element.saleDate | date: 'yyyy-MM-dd'">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </ng-template>
            </td>
        </ng-container>        

        <!--Actions-->
        <ng-container matColumnDef="actions" [sticky]="true">
            <th mat-header-cell *matHeaderCellDef>
                <div class="header-actions">
                    <span>Actions</span>
                    <button class="button-with-margin" mat-raised-button style="color: whitesmoke; background-color: blueviolet;" (click)="openAddDialog('1','1')">Add Sale</button>
                </div>
            </th>
            <td mat-cell *matCellDef="let element">
                <span *ngIf="element.id != editedId; else display">
                    <button class="button-with-margin" mat-raised-button color="primary" (click)="editSale(element)">Edit</button>
                    <button class="button-with-margin" mat-raised-button color="warn" (click)="deleteSale(element)">Delete</button>
                    <button class="button-with-margin" mat-raised-button color="accent" (click)="showSaleItems(element)">Items</button>
                </span>
                <ng-template #display>
                    <button class="button-with-margin" mat-raised-button color="primary" (click)="updateSale(element)">Save</button>
                    <button class="button-with-margin" mat-raised-button color="warn" (click)="cancelEdit()">Cancel</button>
                </ng-template>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div class="mat-table-scroll">
    </div>
</div>
