<div class="mat-main-container" style="margin-top: 10px">
    <mat-drawer-container class="example-container" style="width: 2800px;" [hasBackdrop]="true">
      
      <mat-drawer-content style="flex-grow: 1; min-width: 80%;">
          <app-list-purchases (purchaseSelected)="handlePurchaseSelected($event)"></app-list-purchases>
      </mat-drawer-content>
  
      <!-- <mat-drawer mode="side" opened="{{ isSideNavOpen }}" position="end" [disableClose]="true">
        <app-list-purchase-items [purchase]="selectedPurchase" (entryCancelled)="cancel()" (closed)="cancel()"></app-list-purchase-items>
      </mat-drawer> -->
  
    </mat-drawer-container>
  </div>