<div class="mat-table-container">

      <!-- Plus Icon -->
      <div class="plus-icon-container" (click)="addSaleEmptyEntry()">
        <mat-icon>add</mat-icon>
      </div>

        <!-- Close Icon -->
    <div class="close-icon-container" (click)="cancel()">
        <mat-icon>close</mat-icon>
    </div>

    <table mat-table [dataSource]="dataSource" fixedLayout class="mat-elevation-z8">

        <ng-container matColumnDef="id" [sticky]="true">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{ element.id != 0 ? element.id : ''}} </td>
        </ng-container>

        <ng-container matColumnDef="productName" [sticky]="true">
            <th mat-header-cell *matHeaderCellDef> Product </th>
            <td mat-cell *matCellDef="let element">
                <span *ngIf="editedId !== element.id;else editThis">{{element.productName}}</span>
                <ng-template #editThis>
                    <mat-form-field appearance="outline" class="custom-height">
                        <mat-select [(ngModel)]="element.productId" >
                            <mat-option *ngFor="let product of products" [value]="product.id">
                                {{ product.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </ng-template>
            </td>
        </ng-container>

        <ng-container matColumnDef="price" [sticky]="true">
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td mat-cell *matCellDef="let element">
                <span *ngIf="editedId !== element.id;else editThis">{{element.price}}</span>
                <ng-template #editThis>
                    <mat-form-field appearance="outline" class="custom-height">
                        <mat-label>Price</mat-label>
                        <input matInput [(ngModel)]="element.price" />
                    </mat-form-field>
                </ng-template>
            </td>
        </ng-container>        

        <ng-container matColumnDef="quantity" [sticky]="true">
            <th mat-header-cell *matHeaderCellDef> Quantity</th>
            <td mat-cell *matCellDef="let element">
                <span *ngIf="editedId !== element.id;else editThis">{{element.quantity}}</span>
                <ng-template #editThis>
                    <mat-form-field appearance="outline" class="custom-height">
                        <mat-label>Quantity</mat-label>
                        <input matInput [(ngModel)]="element.quantity" />
                    </mat-form-field>
                </ng-template>
            </td>
        </ng-container>
        
        <ng-container matColumnDef="amount" [sticky]="true">
            <th mat-header-cell *matHeaderCellDef> Amount</th>
            <td mat-cell *matCellDef="let element">
                <span>{{element.quantity * element.price}}</span>
            </td>
        </ng-container>          

        <!--Actions-->
        <ng-container matColumnDef="actions" style="display: flex; align-items: center;" [sticky]="true">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let element">
                <span *ngIf="element.id != editedId; else display">
                    <button class="button-with-margin" mat-raised-button color="primary" (click)="editSaleInfo(element)">Edit</button>
                    <button class="button-with-margin" mat-raised-button color="warn" (click)="deleteSaleInfo(element)">Delete</button>
                </span>
                <ng-template #display>
                    <button class="button-with-margin" mat-raised-button color="primary" (click)="updateSaleInfo(element)">Save</button>
                    <button class="button-with-margin" mat-raised-button color="warn" (click)="cancelEdit()">Cancel</button>
                </ng-template>
            </td>
        </ng-container>

             

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>        
    </table>
</div>
