<div class="mat-main-container">
    <div class="mat-left-part mat-table-scroll">
        <app-list-product-categories></app-list-product-categories>
    </div>

    <div class="mat-middle-part">
    </div>

    <div class="mat-right-part" style="margin-top: 10px;">
        <button mat-raised-button color="warn" (click)="openAddDialog('1','1')">Add Category</button>
        <!-- <div style="margin-top: 10px;">
            <button mat-raised-button color="warn" (click)="openAddDialog('1','1')">Add Category</button>
        </div> -->
    </div>
</div>