<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>supervised_user_circle</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-raised-button color="warn" (click)="openDialog('1','1')">Add Product</button>
</mat-toolbar>


<!-- <table mat-table [dataSource]="products" class="mat-elevation-z8">

 Position Column 
 <ng-container matColumnDef="name">
  <th mat-header-cell *matHeaderCellDef> No. </th>
  <td mat-cell *matCellDef="let element"> {{element.position}} </td>
</ng-container>

</table> -->


<router-outlet />
