<h2 mat-dialog-title>Add New Product</h2>
<div mat-dialog-content>
    <form [formGroup]="newProductForm">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input formControlName="name" matInput type="text">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Category</mat-label>
        <mat-select formControlName="category" placeholder="Category">
          <mat-option *ngFor="let category of categories" [value]="category.id">
            {{ category.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>    

      <!-- <mat-form-field class="example-form-field">
        <mat-label>Rate</mat-label>
        <input formControlName="rate" matInput type="number">
      </mat-form-field> -->

      <!-- <mat-form-field class="example-form-field">
        <mat-label>Entered Date</mat-label>
        <input formControlName="enteredDate" matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker">
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-label>Freshness State</mat-label>

      <mat-radio-group formControlName="state">
        <mat-radio-button *ngFor="let state of freshStates" [value]="state">
          {{state}}
        </mat-radio-button>
      </mat-radio-group> -->
    </form>
</div>
<div mat-dialog-action [align]="'end'">
  <button mat-button cdkFocusInitial (click)="formSubmitted()" mat-dialog-close>Ok</button>
  <button mat-button mat-dialog-close>Cancel</button>
</div>